<html lang="en">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>career swipe</title>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
    <%= javascript_include_tag "application" %>
    <script>
        $(document).ready(function() {
            Slider = $('#slider').Swipe({
//                auto: 3000,
//                continuous: true
            }).data('Swipe');

            $('.next').on('click', Slider.next);
            $('.prev').on('click', Slider.prev);
        });
    </script>

    </head>
    <div class="container">
      <div class="navbar-header">
        <a href="/#">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#index">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          </a>
        <a class="navbar-brand" href="/#">career swipe</a>
      </div>
      <!--<div id="navbar" class="navbar-collapse collapse">-->
        <!--<ul class="nav navbar-nav">-->
          <!--<li class="active"><a href="#">Home</a></li>-->
          <!--<li><a href="#about">About</a></li>-->
          <!--<li><a href="#contact">Contact</a></li>-->
        <!--</ul>-->
      <!--</div>-->
    </div>

<body>

<div id = "global-container">
    <div class="demo-wrapper">
        <div id="slider" class="swipe" style="visibility: visible;">
            <div class="swipe-wrap" style="width: 3000px; background-color: #0079B5">
                <% (@job_results).models.jobs.each do |job| %>
                <div data-index="0" style="width: 600px; left: 0px; transition-duration: 300ms; -webkit-transition-duration: 300ms; -webkit-transform: translate(-600px, 0px) translateZ(0px);">
                  <p><img src="http://c.tadst.com/gfx/600x400/international-programmer-day.jpg?1" alt="Smiley face" align="middle" style='width:100%;' border="0"> </p>
                  <div id="jobdetails" class="container">
                    <label>Location: <%= job.location %></label><br/>
                    <label>Type: <%= job.title %></label><br/>
                    <label>Salary:</label><br/>
                    <label>Company: <%= job.company_name %></label><br/>
                    <label>Details:</label><br/>
                </div>
                </div>
                <% end %>
            </div>
            <!--<span class="nav prev">Prev</span>-->
            <!--<span class="nav next">Next</span>-->

        </div>
      </div>
</div>


</body>
</html>